
<header class="bg-[#191717] py-4">
  <div class="flex justify-center">
    <a href="/admin/dashboard">
      <img src="/images/logo.png" alt="Admin Logo" class="h-12 w-auto" />
    </a>
  </div>
</header>