<div style="width: 250px; background-color: #323030; padding: 20px; height: auto;">
    <ul style="list-style-type: none; padding: 0; margin: 0;">
        <li style="margin-bottom: 20px;">
            <a href="/admin/dashboard" style="text-decoration: none; color: #FFFFFF; display: flex; align-items: center;">
                <i class="fas fa-tachometer-alt" style="margin-right: 10px;"></i>
                Dashboard
            </a>
        </li>
        <li style="margin-bottom: 20px;">
            <a href="/admin/products" style="text-decoration: none; color: #FFFFFF; display: flex; align-items: center;">
                <i class="fas fa-box" style="margin-right: 10px;"></i>
                Products
            </a>
        </li>
        <li style="margin-bottom: 20px;">
            <a href="/admin/customers" style="text-decoration: none; color: #FFFFFF; display: flex; align-items: center;">
                <i class="fas fa-users" style="margin-right: 10px;"></i>
                Customers
            </a>
        </li>
        <li style="margin-bottom: 20px;">
            <a href="/admin/banner" style="text-decoration: none; color: #FFFFFF; display: flex; align-items: center;">
                <i class="fas fa-image" style="margin-right: 10px;"></i>
                Banner
            </a>
        </li>
        <li style="margin-bottom: 20px;">
            <a href="/admin/ordersList" style="text-decoration: none; color: #FFFFFF; display: flex; align-items: center;">
                <i class="fas fa-shopping-cart" style="margin-right: 10px;"></i>
                Orders
            </a>
        </li>
        <li style="margin-bottom: 20px;">
            <a href="/admin/coupons" style="text-decoration: none; color: #FFFFFF; display: flex; align-items: center;">
                <i class="fas fa-ticket-alt" style="margin-right: 10px;"></i>
                Coupons
            </a>
        </li>
        <li style="margin-bottom: 20px;">
            <a href="/admin/salesReport" style="text-decoration: none; color: #FFFFFF; display: flex; align-items: center;">
                <i class="fas fa-ticket-alt" style="margin-right: 10px;"></i>
               Sales Report
            </a>
        </li>
        <li style="margin-bottom: 20px;">
            <a href="/admin/category" style="text-decoration: none; color: #FFFFFF; display: flex; align-items: center;">
                <i class="fas fa-list" style="margin-right: 10px;"></i>
                Category
            </a>
        </li>
        <li style="margin-bottom: 20px;">
            <a href="/admin/offers" style="text-decoration: none; color: #FFFFFF; display: flex; align-items: center;">
                <i class="fas fa-tag" style="margin-right: 10px;"></i>
                Offers
            </a>
        </li>
        <li>
            <a href="/admin/logout" style="text-decoration: none; color: #FFFFFF; display: flex; align-items: center;">
                <i class="fas fa-sign-out-alt" style="margin-right: 10px;"></i>
                Logout
            </a>
        </li>
    </ul>
</div>