<div class="flex items-center justify-center min-h-screen bg-cover bg-center" style="background-image: url('/images/backgroundLogin.png');">
    <div class="w-full max-w-md bg-t bg-opacity-90 rounded-lg shadow-md p-8">
        
        <!-- Logo -->
        <div class="flex justify-center mb-7">
            <img src="/images/logo.png" alt="Logo" class="h-12 w-auto">
        </div>

        <% if (typeof error_msg !== 'undefined' && error_msg.length > 0) { %>
            <div class="bg-red-500 text-white text-center py-2 rounded-md mb-4">
                <%= error_msg %>
            </div>
        <% } %>

        <!-- Login Heading -->
        <h2 class="text-2xl font-bold text-center mb-7">Login</h2>

        <!-- Login Form -->
        <form id="forgotPassword" onsubmit="validateForgotForm(event)">
            
            <div class="mb-6">
                <label for="newpassword" class="block text-white">New Password</label>
                <input type="password" id="newpassword" name="newpassword" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                <p id="newpasswordError" class="text-red-500 text-sm mt-1 hidden">Please enter your New password.</p>
                <p id="StrongpasswordError" class="text-red-500 text-sm mt-1 hidden">Password must be at least 8 characters long and include a number, an uppercase letter, and a lowercase letter.</p>
            </div>
            <div class="mb-6">
                <label for="confirmPassword" class="block text-white">Confirm Password</label>
                <input type="Password" id="confirmPassword" name="confirmPassword" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                <p id="confirmPasswordError" class="text-red-500 text-sm mt-1 hidden">password not match.</p>
            </div>

            <!-- Login Button -->
            <button type="submit" class="w-full bg-green-500 text-white py-2 rounded-md hover:bg-green-600">Save change</button>
        </form>

       
        
        
    </div>
</div>

<script>
    function validateForgotForm(event) {
        console.log("hieeee");
        
        event.preventDefault();

        // Clear previous error messages
       
        document.getElementById("newpasswordError").classList.add("hidden");
        document.getElementById("confirmPasswordError").classList.add("hidden");

        // Get form values
       
        const newpassword = document.getElementById("newpassword").value.trim();
        const confirmPassword = document.getElementById("confirmPassword").value.trim();

        let isValid = true;

        // Validate email format using regex
       

        // Validate password (must not be empty)
       
        if (newpassword  === '') {
            document.getElementById("newpasswordError").classList.remove("hidden");
            isValid = false;
        }

        if(newpassword !== confirmPassword){
            document.getElementById("confirmPasswordError").classList.remove("hidden");
            isValid = false;
        }

        const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;

        if(!passwordRegex.test(confirmPassword)){
            document.getElementById("StrongpasswordError").classList.remove("hidden");
            isValid = false;
        }


        if(isValid){
            fetch('/forgotPassword',{
                method:'POST',
                headers:{
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify({
                    confirmPassword
                })
            })
            .then(response=>response.json())
            .then(data=>{

                if(data.status === 'success'){
                    Swal.fire({
                        icon:'success',
                        title: 'Success',
                        text : 'Your password has been changed successfully!',
                        timer:3000
                    })
                    .then(()=>{
                        window.location.href ='/login'
                    })
                }else{
                    Swal.fire({
                        icon: 'error',
                        title:'Error',
                        text:data.message || 'An error occurred. Please try again.'
                    })
                }

            })
            .catch(error=>{
                console.error('Error', error);
                Swal.fire({
                    icon:'error',
                    title:'Error',
                    text :'An error occurred while processing your request.'
                })
            })

        }
        
        
        

       
    }
</script>
