<div class="flex items-center justify-center min-h-screen bg-cover bg-center" style="background-image: url('/images/backgroundLogin.png');">
    <div class="mt-7 bg-white rounded-xl shadow-lg dark:bg-gray-800 dark:border-gray-700 z-50">
      <div class="p-4 sm:p-7">
        <div class="text-center">
          <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Forgot password?</h1>
          <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
            Remember your password?
            <a class="text-blue-600 decoration-2 hover:underline font-medium" href="#">Login here</a>
          </p>
        </div>
  
        <div class="mt-5">
          <form id="forgotPasswordForm">
            <div class="grid gap-y-4">
              <div>
                <label for="email" class="block text-sm font-bold ml-1 mb-2 dark:text-white">Email address</label>
                <div class="relative">
                  <input type="email" id="email" name="email" class="py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 shadow-sm" required>
                </div>
                <p class="hidden text-xs text-red-600 mt-2" id="emailError">Please include a valid email address.</p>
              </div>
              <button type="submit" id="sendOtpBtn" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm">Reset password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- OTP Modal (Hidden initially) -->
  <div id="otpModal" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-500 bg-opacity-75 hidden">
    <div class="bg-white rounded-lg shadow-xl p-6 max-w-md w-full">
      <h2 class="text-lg font-bold mb-4">Enter OTP</h2>
      <form id="otpForm">
        <div class="mb-4">
          <label for="otp" class="block text-sm font-bold ml-1 mb-2">OTP</label>
          <input type="text" id="otp" name="otp" class="py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 shadow-sm" required>
          <p class="hidden text-xs text-red-600 mt-2" id="otpError">Invalid OTP. Please try again.</p>
        </div>
        <button type="button" id="submitOtpBtn" class="w-full bg-green-500 text-white py-2 px-6 rounded-md hover:bg-green-600 focus:outline-none">Validate OTP</button>
      </form>
    </div>
  </div>
  


  <script>

    document.getElementById('forgotPasswordForm').addEventListener('submit',function(event){
        console.log("forgotPasswordForm");
        

        event.preventDefault();

        const email = document.getElementById('email').value;
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        const emailError = document.getElementById('emailError');


        if (!emailRegex.test(email)) {
            emailError.classList.remove('hidden');
        return;
        }else{
            emailError.classList.add('hidden')
        }
        console.log(email);
        
    
        fetch('/forgotPasswordMailPost',{
            method:'POST',
            headers:{
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({email:email})
        })
        .then(response=> response.json())
        .then(data=>{
            if(data.status === 'success'){
                Swal.fire({
                    icon: 'success',
                    title: 'OTP Sent',
                    text: 'Please check your email for the OTP.',
                    confirmButtonText: 'OK'
                }).then(()=>{
                     // Show the OTP modal after success
                     document.getElementById('otpModal').classList.remove('hidden');

                })
            }else if(data.status === 'notFound'){
                Swal.fire({
                    icon:'error',
                    title:'Not Found',
                    text: data.message||'Email is not found',
                    timer:3000
                })

            }else{
                Swal.fire({
                    icon: 'error',
                    title: 'Failed',
                    text: data.message || 'Could not send OTP. Please try again.'
                 });
            }
        })
        .catch(error=>{
            console.log('Error',error);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'An error occurred. Please try again.'
            })
            
        })


    })

  
        

    document.getElementById('submitOtpBtn').addEventListener('click',function(){
        console.log("hisubmit otp");
        
        const otp = document.getElementById('otp').value.trim();

        console.log(otp);
        

        fetch('/validateForgotOtp',{
            method:'POST',
            headers:{'Content-Type': 'application/json'},
            body:JSON.stringify({otp})
        })
        .then(response=>response.json())
        .then(data=>{
            if(data.status === 'success'){
                console.log("this is resposnse");
                
                Swal.fire({
                    icon:'success',
                    title: 'OTP validated',
                    text:'You can now reset your password',
                    confirmButtonText:'OK'

                }).then(()=>{
                    document.getElementById('otpModal').classList.remove('hidden');
                    window.location.href='/forgotPassword'
                })
            }else{

                console.log("this is resposnse");

                Swal.fire({
                icon: 'error',
                title:'Error',
                text:data.message || 'Failed to validate OTP. Please try again'
            })
                
            }

        })
        .catch(error=>{
            console.error('Error:',error);
            Swal.fire({
                icon: 'error',
                title:'Error',
                text:'Failed to validate OTP. Please try again'
            })
        })
    })
    

    function showOtpModal(){
        document.getElementById('otpModal').classList.remove('hidden');
    }






  </script>