<header class='flex flex-wrap items-center justify-between bg-[#323030] border-b py-4 px-6 font-[sans-serif] min-h-[80px] tracking-wide relative z-50'>
  <a href="/home">
    <img src="/images/logo.png" alt="logo" class='w-36' />
  </a>

  <!-- Collapse Menu Toggle Button (Visible on smaller screens) -->
  <button id="toggleOpen" class='lg:hidden'>
    <svg class="w-7 h-7 fill-[#fff]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
    </svg>
  </button>

  <!-- Menu Links Section -->
  <div id="collapseMenu" class='lg:flex items-center ml-5 hidden w-full lg:w-auto'>
    <ul class='lg:flex lg:gap-x-3 space-y-3 lg:space-y-0 flex-col lg:flex-row'>
      <!-- Example Dynamic Category Rendering -->
      <% categories.forEach(category => { %>
      <li>
        <a href='/categoryView?fetchCategory=<%= category._id %>' class='text-[#ffffff] hover:text-[#3F9147] text-[15px] block font-thin'>
          <%= category.collectionName.charAt(0).toUpperCase() + category.collectionName.slice(1).toLowerCase() %>
        </a>
      </li>
      <% }) %>
      <li>
        <a href="/allProducts" class='text-[#ffffff] hover:text-[#3F9147] text-[15px] block font-thin'>All Products</a>
      </li>
    </ul>
  </div>

  <!-- Right-side Icons & User Actions -->
  <div class='flex gap-x-6 items-center ml-auto'>
    <!-- Search Bar -->
    <!-- <div class='hidden lg:flex items-center border-2 rounded-full px-4 py-2'>
      <input type='text' placeholder='Search something...' class='text-sm bg-transparent outline-none' />
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.904 192.904" width="16px" class="cursor-pointer fill-gray-600">
        <path d="M190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z"></path>
      </svg>
    </div> -->

    <!-- Wishlist & Cart Icons -->
    <div class='flex space-x-4'>
      <a href="/wishList" class="relative">
        <svg xmlns="http://www.w3.org/2000/svg" width="20px" class="cursor-pointer fill-[#fff]" viewBox="0 0 64 64">
          <path d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z"></path>
        </svg>
        <!-- <span class="absolute top-0 left-auto -ml-1 bg-red-500 rounded-full px-1 text-xs text-white">0</span> -->
      </a>

      <a href="/cart" class="relative">
        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" class="cursor-pointer fill-[#fff]" viewBox="0 0 512 512">
          <path d="M164.96 300.004h.024c.02 0 .04-.004.059-.004H437a15.003 15.003 0 0 0 14.422-10.879l60-210a15.003 15.003 0 0 0-2.445-13.152A15.006 15.006 0 0 0 497 60H130.367l-10.722-48.254A15.003 15.003 0 0 0 105 0H15C6.715 0 0 6.715 0 15s6.715 15 15 15h77.969c1.898 8.55 51.312 230.918 54.156 243.71C131.184 280.64 120 296.536 120 315c0 24.812 20.188 45 45 45h272c8.285 0 15-6.715 15-15s-6.715-15-15-15H165c-8.27 0-15-6.73-15-15 0-8.258 6.707-14.977 14.96-14.996zM477.114 90l-51.43 180H177.032l-40-180zM150 405c0 24.813 20.188 45 45 45s45-20.188 45-45-20.188-45-45-45-45 20.188-45 45zm45-15c8.27 0 15 6.73 15 15s-6.73 15-15 15-15-6.73-15-15 6.73-15 15-15zm167 15c0 24.813 20.188 45 45 45s45-20.188 45-45-20.188-45-45-45-45 20.188-45 45zm45-15c8.27 0 15 6.73 15 15s-6.73 15-15 15-15-6.73-15-15 6.73-15 15-15zm0 0"></path>
        </svg>
        <!-- <span class="absolute top-0 left-auto -ml-1 bg-red-500 rounded-full px-1 text-xs text-white">1</span> -->
      </a>
    </div>

    <!-- Sign In / User & Logout -->
    <% if (!user) { %>
    <a href="/login" class="px-5 py-2 text-sm rounded-full text-white border-2 border-[#3F9147] bg-[#3F9147] hover:bg-[#004bff]">
      Sign In
    </a>
    <% } else { %>
    <div class='flex items-center space-x-4'>
      <a class="text-white" href="/userProfile"><i class="fa-solid fa-user"></i></a>
      <a href="/logout" class="flex items-center px-4 py-2 border border-gray-700 rounded bg-black text-white hover:bg-red-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
          <polyline points="16 17 21 12 16 7" />
          <line x1="21" y1="12" x2="9" y2="12" />
        </svg>
        Logout
      </a>
    </div>
    <% } %>
  </div>
</header>

<script>
  var toggleOpen = document.getElementById('toggleOpen');
  var toggleClose = document.getElementById('toggleClose');
  var collapseMenu = document.getElementById('collapseMenu');

  toggleOpen.addEventListener('click', () => {
    collapseMenu.classList.toggle('hidden');
  });
</script>
